

# Ignore everything
*
.htaccess

# But not these folders and files
!/.htaccess
!README.md
!3pad_playground.json
!/files/
!/files/app/
!/files/app/public/
!/files/app/public/wp-content/
!/files/app/public/wp-content/themes/3pad
!/files/app/public/wp-content/plugins/advanced-custom-fields
!/files/app/public/wp-content/database/
!public-folder.zip
!3pad_page_settings.xml

# Include everything in these folders
!/files/app/public/wp-content/themes/3pad **
!/files/app/public/wp-content/plugins/advanced-custom-fields **
!/files/app/public/wp-content/database/** 


# Include GitHub workflows
!.github/
!.github/workflows/
!.github/workflows/**