

# Ignore everything
*
.htaccess

# But not these folders and files
!/.htaccess
!README.md
!3pad_playground.json
!/files/
!/files/app/
!/files/app/public/
!/files/app/public/wp-content/
!/files/app/public/wp-content/themes/
!/files/app/public/wp-content/plugins/

# Include everything in these folders
!/files/app/public/wp-content/themes/**
!/files/app/public/wp-content/plugins/**
