# Ignore everything by default
*

# Exceptions for important files and folders
!.htaccess
!README.md
!3pad_playground.json
!3pad-playground.zip
!3pad_page_settings.xml

# Include the 3pad playground folder and contents
!/3pad-playground/
!/3pad-playground/**

# Include the WordPress playground folder and contents
!/wordpress-playground/
!/wordpress-playground/**

# Ignore twentytwentyfour theme specifically
/3pad-playground/wp-content/themes/twentytwentyfour/

# Include specific WordPress content folders recursively
!/3pad-playground/wp-content/
!/3pad-playground/wp-content/themes/
!/3pad-playground/wp-content/themes/3pad/**

!/3pad-playground/wp-content/plugins/
!/3pad-playground/wp-content/plugins/advanced-custom-fields/**

!/3pad-playground/wp-content/database/**

# Include GitHub workflows
!.github/
!.github/workflows/
!.github/workflows/**
